footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 6rem;
    background: var(--box);
    border: 1px solid var(--boxborder);
    border-radius: 1.25rem 1.25rem 0 0;
    padding: 7px 14px;
    position: relative;

    a{ color: var(--link); text-decoration: none; }
    .title { font-size: 35px; }
    .madeby { font-size: 14px; }
    .socialicon { 
        height: 2.5rem; 
        filter: var(--icon);
        transition: .2s;

        &:hover {
            scale: 1.1;
        }
    }

    .center {
        text-align: center;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .right {
        position: absolute;
        right: 1%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

@media (max-width: 768px) {
    footer {
        height: 3rem;
        .title { font-size: 17.5px; }
        .madeby { font-size: 7px }
        .socialicon { height: 1.25rem; }
    }
}