main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  gap: 10px;
}
main #iframeholder {
  min-height: 65vh;
  max-height: 65vh;
  max-width: 70%;
  min-width: 70%;
  background: var(--box);
  border: 1px solid var(--boxborder);
  border-radius: 1.2rem;
}
main #iframeholder iframe {
  width: 100%;
  min-height: 65vh;
  border-radius: 1.2rem;
  background: none;
  outline: none;
  border: none;
}
main article {
  min-width: 70%;
  max-width: 70%;
  background: var(--box);
  border: 1px solid var(--boxborder);
  border-radius: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
main article .left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 25px;
}
main article .left img {
  width: 64px;
  border-radius: 0.6rem;
}
main article .left h1 {
  overflow: hidden;
  white-space: nowrap;
  word-wrap: break-word;
  text-overflow: ellipsis;
}
main article .right {
  padding: 15px;
  display: flex;
  justify-content: center;
  gap: 7px;
  align-items: center;
}
main article .right button {
  border-radius: 0.6rem;
  padding: 5px;
}
main article .right button img {
  width: 32px;
  filter: var(--icon);
}
