@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("components/navbar.css");
@import url("components/footer.css");
:root {
  --text: #fff;
  --link: #0ea5e9;
  --bg: #18181b;
  --bgimg: none;
  --box: rgba(0, 0, 0, 0.25);
  --boxhover: rgba(255, 165, 0, 0.25);
  --boxborder: rgba(100, 100, 100, 0.05);
  --icon: invert(0);
  --logo: url("/img/logo.png");
  --font: "Raleway", sans-serif;
}

[data-theme="e926.net"] {
  --link: #b4c7d9;
  --bg: #020f23;
  --bgimg: url("/img/themes/e6-bg.png");
  --logo: url("/img/themes/e6-logo.png");
  --box: rgba(31, 60, 103, 0.25);
  --boxhover: rgba(43, 83, 142, 0.25);
  --boxborder: rgba(0, 111, 250, 0.05);
  --font: verdana, sans-serif;
}

[data-theme=Light] {
  --text: #18181b;
  --link: #0026ff;
  --bg: #fff;
  --box: rgba(0, 0, 0, 0.125);
  --boxhover: rgba(0, 0, 0, 0.05);
  --boxborder: rgba(0, 0, 0, 0.01);
  --icon: invert(1);
  --logo: url("/img/themes/black-logo.png");
}

[data-theme=Rifted] {
  --bg: #1e2124;
  --box: rgba(44,47,51, 0.5);
  --boxhover: rgba(54,57,62, 0.5);
  --boxborder: rgba(54,57,62, 0.25);
  --font: "Inter", sans-serif;
}

[data-theme=Nova] {
  --text: #6600ff;
  --link: #33cc66;
  --bg: #000;
  --box: #111111;
  --boxhover: var(--box);
  --boxborder: rgba(0,0,0,0);
  --logo: url("/img/themes/nova-logo.png");
  --icon: invert(59%) sepia(98%) saturate(331%) hue-rotate(88deg) brightness(92%) contrast(91%);
  --font: "Nunito", "JetBrains Mono", sans-serif;
}

* {
  font-family: var(--font);
  color: var(--text);
  text-decoration: none;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
  overflow: hidden;
}

body {
  animation: fadeIn ease 0.4s forwards;
  height: 100%;
  overflow-x: hidden;
  background-color: var(--bg);
  background-image: var(--bgimg);
}

.box {
  background-color: var(--box);
  border: 1px solid var(--boxborder);
  border-radius: 1.2rem;
  transition: 0.2s;
}
.box:hover {
  cursor: pointer;
  outline: none;
  background-color: var(--boxhover);
  box-shadow: 0 0 5px var(--boxborder);
}
.box:focus {
  outline: none;
  background-color: var(--boxhover);
  box-shadow: 0 0 5px var(--boxborder);
}

.btn-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  min-height: 128px;
  max-height: 128px;
  padding: 1.5rem;
  transition: 0.2s;
  max-width: 128px;
  min-width: 128px;
  text-align: center;
  gap: 15px;
}
.btn-1 img {
  min-width: 100px;
  height: 100px;
  min-height: 100px;
  max-height: 100px;
  width: 100px;
  max-width: 100px;
  border-radius: 10px;
}
.btn-1 span {
  font-size: 80%;
}

@media (max-width: 768px) {
  .btn-1 {
    min-height: 64px;
    padding: 0.5rem;
    max-width: 64px;
    min-width: 64px;
    font-size: 7.5px;
  }
  .btn-1 img {
    min-width: 50px;
    height: 50px;
    min-height: 50px;
    max-height: 50px;
    width: 50px;
    max-width: 50px;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
