nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  background: var(--box);
  border: 1px solid var(--boxborder);
  border-radius: 0 0 1.25rem 1.25rem;
  padding: 7px;
}
nav .left {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav a {
  text-align: center;
  cursor: pointer;
}
nav .btn {
  padding: 15px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  gap: 5px;
  transition: 0.2s;
}
nav .btn img {
  filter: var(--icon);
}
nav .btn:hover {
  background: var(--boxhover);
  box-shadow: 0 0 5px var(--boxborder);
}
nav .logo {
  transition: 0.2s;
  height: 3.2rem;
  width: 3.2rem;
  background-image: var(--logo);
  border-radius: 50rem;
  padding: 5px;
  margin-top: 3px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: calc(100% - 15px);
}

@media (max-width: 768px) {
  nav {
    height: 2rem;
  }
  nav .btn {
    padding: 5px;
  }
  nav .logo {
    padding: 4px;
    height: 1.8rem;
  }
}
