<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('components/head.html') -%>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <%- include('components/navbar.html') -%>

    <main class="main">
        <span style="font-size: 65px;">Railin'</span>           
        <span id="SplashText">Welcome!</span>
        <div class="holder">
            <input class="box searchbar" placeholder="Search on Google">
            <button class="box accept"><img src="/img/search.svg"></button>
        </div>
    </main>

    <script src="/js/index.js"></script>
    <%- include('components/footer.html') -%>
</body>
</html>