<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('components/head.html') -%>
    <link rel="stylesheet" href="/css/load.css">
</head>
<body>
    <%- include('components/navbar.html') -%>

    <main class="main">
        <div id="iframeholder"><iframe id="iFrame"></iframe></div>
        <article>
            <div class="left">
                <img id="Icon" src="/img/logo.png">
                <h1 id="Title">NULL</h1>
            </div>
            <div class="right">
                <button id="Fullscreen" class="box">
                    <img src="/img/fullscreen.svg">
                </button>
                <button id="OpenLink" class="box">
                    <img src="/img/link.svg">
                </button>
            </div>
        </article>
    </main>

    <%- include('components/scripts.html') -%>

    <script src="/js/load.js"></script>
    <script> Setup("<%= id %>"); </script>
</body>
</html>