<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('components/head.html') -%>
    <link rel="stylesheet" href="/css/list.css">
</head>
<body>
    <%- include('components/navbar.html') -%>

    <main class="main">
        <h1 style="margin: 15px 0;">Projects</h1>

        <input id="searchbox" type="text" placeholder="Search Projects">

        <div class="holder">

        </div>
    </main>

    <%- include('components/scripts.html') -%>

    <script src="/js/list.js"></script>
    <script> Render("projects") </script>
</body>
</html>