<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('components/head.html') -%>
    <link rel="stylesheet" href="/css/settings.css">
</head>
<body>
    <%- include('components/navbar.html') -%>
    
    <main class="main">
        <h1 style="margin: 15px 0 30px;">Settings</h1>

        <h2>Cloaks</h2>
        <div class="cloaks">

        </div>        

        <h2>Themes</h2>
        <select class="box themes">
            <option class="box">Themes</option>

        </select>
    </main>

    <%- include('components/footer.html') -%>

    <script src="/js/settings.js"></script>
</body>
</html>