<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('components/head.html') -%>
    <link rel="stylesheet" href="/css/settings.css">
</head>
<body>
    <%- include('components/navbar.html') -%>
    
    <main class="main">
        <div class="holder">
            <h2>Cloaks</h2>
            <p>Hide the Tab you're on with websites like Google Classroom and Powerschool.</p>
            <select class="box cloaks dropdown">
                <option selected="">Select Cloak</option>
                <option disabled="">---- Cloaks ----</option>
            </select>
        </div>      

        <div class="holder">
            <h2>Themes</h2>
            <p>Theme Railin' to make it fit more of your style.</p>
            <!-- These are hard coded sorry :( -->
            <select class="box themes dropdown">
                <option selected="">Select Theme</option>
                <option disabled="">---- Color Themes ----</option>
                <option class="box">Default</option>
                <option class="box">Light</option>
                <option disabled="">---- Site Themes ----</option>
                <option class="box">Rifted</option>
                <option class="box">Nova</option>
                <option class="box">e926.net</option>
            </select>
        </div>

        <div class="holder">
            <h2>Site Info</h2>
            <span>Icons made by <a href="https://simpleicons.org/">Simple Icons</a> and <a href="https://feathericons.com/">Feather Icons</a></span>
            <span>Powered by 
                <a href="https://github.com/titaniumnetwork-dev/Ultraviolet">Ultraviolet</a> 
                and
                <a href="https://github.com/ruffle-rs/ruffle/">Ruffle</a>
            </span>
        </div>
    </main>

    <%- include('components/scripts.html') -%>

    <script src="/js/settings.js"></script>
</body>
</html>