<footer>
    <div>
        <span class="title">Railin'</span><br>
        <span class="madeby">Made by <a href="https://github.com/hypverr">Hypverr</a></span>
    </div>
    <div class="center">
        <span class="madeby">Icons made by <a href="https://simpleicons.org/">Simple Icons</a> and <a href="https://feathericons.com/">Feather Icons</a></span>
        <br><span class="madeby">Powered by <a href="https://github.com/titaniumnetwork-dev/Ultraviolet">Ultraviolet</a> and <a href="https://ejs.co/">EJS</a></span>
        <br><span class="madeby">Special Thanks to Angie and Aiden!!</span>
    </div>
    <div class="right"><a href="https://github.com/Hypverr/Railin"><img class="socialicon" src="/img/github.svg"></a></div>
</footer>

<script src="/js/appearance.js"></script>
<script src="/uv/uv.bundle.js"></script>
<script src="/uv.config.js"></script>
<script> 
    (async function() {
        await window.navigator.serviceWorker.register("/sw.js", { scope: window.__uv$config.prefix, }); 
    }())
</script>