<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Railin'</title>
<link rel="icon" type="image/png" href="/img/logo.png" />

<meta property="og:title" content="Railin'" />
<meta name="keywords" content="Math, Science, Technology, Fun, History, USA, US History, math, maths, mathematics, school, homework, education"/>
<meta property="og:description" content="Best game site on the block 😎" />
<meta property="og:image" content="/img/logo.png" />
<meta name="theme-color" content="#eb6123" />

<link rel="stylesheet" href="/css/main.css">